﻿@model LabWork62FoodDelivery.Models.Restaurant

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Restaurant</h4>
    <hr />
    <div class="container-main">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PhotoPath)
            </dt>
            <dd>
                <div><img src="../../@Model.PhotoPath" width="200px" height="200px"/></div>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>
        <div style="float: right">Корзина:
            @{
                foreach (var bas in Model.Baskets)
                {
                    <div>Блюдо: @bas.Dish.Name</div>
                    <div>Цена: @bas.Price</div>
                    <div>Количество: @bas.Count</div>
                }
            }
        </div>
    </div>
    <h3>Dishes</h3>
    @{
        if (Model.Dishes != null)
        {
            foreach (var item in Model.Dishes)
            {
                <div>Блюдо: @item.Name Цена: @item.Price</div>
                <a asp-action="AddToBasket" asp-route-id="@item.Id">Add to basket</a>
            }
        }
        else
        {
            <div>There is no dishes in this restaurant...</div>
        }
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>


